---
import { BLOCKS } from '@contentful/rich-text-types';
import { INLINES } from '@contentful/rich-text-types'
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "../../lib/contentful";
import Footer from '../../components/Footer.astro';
import Navbar from '../../components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  function renderImage(node){
    let data = node.data.target.fields
    if(data.file.contentType == "model/gltf-binary"){
      return`<figure><model-viewer src="https:${data.file.url}" alt="${data.description}" style="width:100%; height: 50vh;background-color:#000;"  camera-controls shadow-intensity="1" auto-rotate>
        </model-viewer><figcaption>${data.description}</figcaption></figure>`
    } else {
      return `<figure><img src="https://${data.file.url}?&w=1100&fm=webp" alt="${data.description}"><figcaption>${data.description}</figcaption></figure>`
    }
    
  }


  const options = {
    renderNode: {
      [BLOCKS.EMBEDDED_ASSET]: (node) => `${renderImage(node)}`,
      [INLINES.HYPERLINK]: (node) => {
        if((node.data.uri).includes("youtube.com/embed")) {
          return `<iframe style="max-width:100%; max-height:60vh;" width="1020" height="630" src="${node.data.uri}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>`
        } else {
          return `<a href="${node.data.uri}">${node.content[0].value}</a>`
        }
      }
    }
  }

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content, options),
      date: new Date(item.fields.date).toLocaleDateString(),
      type: item.fields.type,
      imageUrl: item.fields.image.fields.file.url,
	    imageDesc: item.fields.image.fields.description
    },
  }));

  return pages;
}


const { content, title, date, type, imageUrl, imageDesc} = Astro.props;
const cssURL = `url(/${imageUrl}?w=1100)`;
---

<Layout title={title} description={title}>
		<main>
      <div class="post">
        <div class="post--title">
          <h1>{title}</h1>
        </div>
        <article class="content" set:html={content} />
      </div> 
    </main>
</Layout>

<style define:vars={{cssURL}}>

  body {
    margin:0;
  }
	main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
		padding: 60px 0px 32px 0px;
		width: 100%; 
    background-color: #FBFBF8;
	}

  .post{
    max-width: 1100px;
    width: 100%;
  }

  .post--title{
    width:100%;
    padding-top: 30%;
    position:relative;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), var(--cssURL); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 16px;
   }

   h1{
    position: absolute;
    bottom: 10%;
    color:#fff;
    padding:8px 24px;
    background-color: rgba(40, 66, 31, 0.9);
    border-right: 4px solid rgba(254, 127, 45, 1);
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
   }

  .post > .content {
    font-weight: 400;
    font-size: 20px;
    color:rgb(41,41,41);
    letter-spacing: -.003em;
    line-height: 32px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .post > .content :global( > *:not(figure)){
    font-family: "Montserrat",sans-serif;
    margin-top:2em;
  }

  .post > .content :global(p){
    font-size:20px;
    color:rgb(41,41,41);
    letter-spacing: 1px;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
  }

  .content > :global(p:has(iframe)){
    align-self: center;
    aspect-ratio: 16 / 9;
  }

  .post > .content :global(figure){
    background:#fff;
    width: fit-content;
    align-self: center;
    padding:16px 32px;
    border:1px solid grey;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top:2em;
  }

  .post > .content :global(figure > img){
    background-color:grey;
    max-width: 100%;
    max-height: 40vh;
  }

  .post > .content :global(figure > figcaption){
    font-size: 16px;
    font-style: italic;
    line-height: 1.2rem;
    margin-top:16px;
  }

  @media screen and (max-width: 1099px) {

    main {
      padding: 0 16px 32px 16px;
    }

    .post--title{
      padding-top:75%;
      margin-bottom:24px;
    }
  }


</style>