---
import { BLOCKS } from '@contentful/rich-text-types';
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "../../lib/contentful";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  function renderImage(node){
    let data = node.data.target.fields
    return `<img src="${data.file.url}" alt="${data.description}"><figcaption>${data.description}</figcaption>`

  }

  const options = {
    renderNode: {
      [BLOCKS.EMBEDDED_ASSET]: (node) => `<figure>${renderImage(node)}</figure>`
    }
  }

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content, options),
      date: new Date(item.fields.date).toLocaleDateString(),
      type: item.fields.type
    },
  }));

  return pages;
}


const { content, title, date, type} = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>{type}</p>
    <time>{date}</time>
    <article set:html={content} />
  </body>
</html>