---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { contentfulClient } from "../lib/contentful.js";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
import type { BlogPost } from "../lib/contentful";
import { findPathItemByKey } from 'astro/dist/core/render/route-cache';

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
  limit: 3,
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug, image } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(),
	imageDesc: image.fields.description,
	imageURL: image.fields.file.url
  };
});

---

<Layout title="TerraSearchGeo">
	<main>
		<h1>Revealing the history beneath your feet. </h1>
		<p class="instructions">
			We provide a variety of survey techniques and expertise for archaeological and historical based projects.
		</p>
		<ul role="list" class="link-card-grid">
			{posts.map((post) => (
				<Card
					href={`./posts/${post.slug}`}
					title={post.title}
					body={post.description}
					imageUrl={post.imageURL}
					imageDesc={post.imageDesc}
				></Card>
			))}
		  </ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>

