---
import Card from "./Card.astro";
import { contentfulClient } from "../lib/contentful.js";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
import type { BlogPost } from "../lib/contentful";
import { findPathItemByKey } from 'astro/dist/core/render/route-cache';

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
  limit: 4,
});

const posts = entries.items.map((item) => {
  const { title, date, description, slug, image, type } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(undefined,{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }),
	imageDesc: image.fields.description,
	imageURL: image.fields.file.url,
	type
  };
});
---

<div id="posts--container">
  <div>
    <h2>Latest News and Articles</h2>
    <div class="postcard__bar"></div>
  </div>
    
    {posts.map((post) => (
        <Card href={`./posts/${post.slug}`}
            tag={post.type}
            title={post.title}
            body={post.description}
            imageUrl={post.imageURL}
            imageDesc={post.imageDesc}
            date={post.date}
        ></Card>
    ))}
</div>

<style>
  #posts--container{
    width:100%;
    padding:32px 160px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #fcfcf5;
    color:white;
  }

  .postcard__bar {
    width: calc(100% - 16px);
    margin: 0 8px 2rem 8px;
    height: 3px;
    border-radius: 5px;
    background-color: #FE7F2D;
    transition: width 0.2s ease;
  }

  h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    color: #375B2B;
  }
  @media screen and (max-width: 1099px) {
    #posts--container{padding: 24px 32px;}
  }
</style>
