---
import Button from "../components/Button.astro";

export interface Props {
	title: string;
    title2?: string;
    title3?: string;
	subTitle: string;
	imageURL: string;
    link?: string;
    linkText?: string;
    link2?: string;
    linkText2?: string;
    video:string;
}

const { title, title2, title3, subTitle, imageURL, link, linkText, link2, linkText2, video} = Astro.props;

const cssURL = `url(/${imageURL})`;
const videoURL = `url(/${video})`;
---

<div id="hero">
    <video id="heroVideo" loop="" muted="" preload="none">
        <source src={video} type="video/mp4" />
        <img src={`/${imageURL}`} width="2000" height="1500" title="Your browser does not support the <video> tag" />
    </video>
    <img id="mobileHero" src="/hero-mobile.webp" width="800" height="1200" alt="Man running a GPR machine over a field in front of the ocean.  " />
    <div class="hero--text">
        <h1>{title}<span class="orange">{title2}</span><br>{title3}</h1>
        <p>{subTitle}</p>
        {link && linkText && <Button color="#fe7f2d" hoverColor="#fff" text={linkText} link={link} icon="phone"> </Button>}
        {link2 && linkText2 && <Button color="#fe7f2d" hoverColor="#fff" text={linkText2} link={link2} icon="mail"> </Button>}   
    </div>
</div>

<style define:vars={{cssURL}}>

    #hero{
        position: relative;
        width: 100%;
        height:calc(100vh - 80px);
        background-color: #FFFDFA;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 60px 160px 0px 160px;
        /* row-gap: 5rem; */
    }
    video > img {
        height: 1500px;
        width: 2000px;
    }
    #hero > video {
        position: absolute; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: 100%;
        object-fit: cover;
        background-size: cover;
        overflow: hidden;
    }

    #mobileHero {
        position: absolute; 
        right: 0; 
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        overflow: hidden;
        display:none;
    }

    #hero h1 {
        font-size: 3.4rem;
		margin: 0;
        color:white;
        margin-bottom:16px;
        line-height:5rem;
        font-weight: 600;
    }

    .orange{
        color:rgba(254, 127, 45, 1);
        font-weight: 800;
    }

    .hero--text {
        background: rgba(40, 66, 31, 0.9);
        /* border: 3px solid rgba(254, 127, 45, 1); */
        border: 0px solid rgba(254, 127, 45, 1);
        border-radius: 6px;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);top:0;
        color: white;
        width: auto;
        align-self: flex-end;
        max-width: 730px;
        padding:56px 24px;
        text-align: center;
        box-sizing: border-box;
    }

    .hero--text > p {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.015em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        text-size-adjust: none;
        margin:0 auto 32px auto;
        max-width: 80%;
    }

    @media only screen and (max-width: 1200px) { 
        #hero{
            align-items:center;
            justify-content: center;
            row-gap: 48px;
            padding: 98px 24px 0px 24px;
            height:100%;
            height:calc(100vh - 50px);
            height: calc(100svh - 50px);
        }

        #hero h1{
            font-size: 2.6rem;
            margin:0px;
            margin-bottom:24px;
            text-align: center;
            padding: 0;
            line-height:3.2rem;
        }

        .hero--text {
            align-self: auto;
            padding:32px 16px;
            
        }

    }

    @media only screen and (max-width: 800px) { 
        #hero {
            padding: 98px 0 0 0;
        }
        .hero--text {
            padding:48px 8px;
            width:100%;
            border-radius: 0;
        }
        #hero h1{
            font-size: 1.8rem;
            line-height: 2.6rem;
            margin-bottom:24px;
        }

        .hero--text > p {
            margin: 0 0 40px 0;
            max-width: 95%;
        }

        #hero > video {
            display: none;
        }

        #mobileHero {
            display:block;
        }
    }

    @media only screen and (max-height: 600px) { 
        #hero {
            row-gap: 32px;
            padding-top: 50px;
            height:100vh;
        }

        #hero h1{
            font-size: 2rem;
            margin:0px;
            margin-bottom: 12px;
            text-align: center;
            padding: 0;
        }

        .hero--text {
            padding:16px 8px;
        }

        .hero--text p {
            font-size: 16px;
            margin-bottom: 16px;
        }
    }

    
</style>

<script is:inline>
    var videoLocation  = document.getElementById("heroVideo");
	window.onload = addAutoplay(videoLocation);	
	function addAutoplay(element) {
		if(window.innerWidth > 800){
			element.setAttribute("autoplay","");
	  };
	}

</script>