---
import Button from "../components/Button.astro";

export interface Props {
	title: string;
    title2?: string;
	subTitle: string;
	imageURL: string;
    link?: string;
    linkText?: string;
    link2?: string;
    linkText2?: string;
}

const { title, title2, subTitle, imageURL, link, linkText, link2, linkText2, } = Astro.props;

const cssURL = `url(/${imageURL})`;
---

<div id="hero">
    <div class="hero--text">
        <h1>{title}<br><span class="orange">{title2}</span></h1>
        <p>{subTitle}</p>
        {link && linkText && <Button color="#fe7f2d" hoverColor="#fff" text={linkText} link={link} icon="phone"> </Button>}
        {link2 && linkText2 && <Button color="#fe7f2d" hoverColor="#fff" text={linkText2} link={link2} icon="mail"> </Button>}   
    </div>
</div>

<style define:vars={{cssURL}}>
    #hero{
        width: 100%;
        height:calc(100vh - 80px);
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), var(--cssURL);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 60px 160px 0px 160px;
        /* row-gap: 5rem; */
    }

    #hero h1 {
        font-size: 3.4rem;
		margin: 0;
        color:white;
        margin-bottom:16px;
        line-height:5rem;
    }

    .orange{
        color:rgba(254, 127, 45, 1);
    }

    .hero--text {
        background: rgba(40, 66, 31, 0.9);
        /* border: 3px solid rgba(254, 127, 45, 1); */
        border: 0px solid rgba(254, 127, 45, 1);
        border-radius: 6px;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);top:0;
        color: white;
        width: auto;
        align-self: flex-end;
        max-width: 730px;
        padding:56px 24px;
        text-align: center;
        box-sizing: border-box;
    }

    .hero--text > p {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.015em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        text-size-adjust: none;
        margin:0 auto 32px auto;
        max-width: 80%;
    }

    @media only screen and (max-width: 1200px) { 
        #hero{
            align-items:center;
            justify-content: center;
            row-gap: 48px;
            padding: 98px 24px 0px 24px;
            height:100%;
            height:calc(100vh - 50px);
            height: calc(100svh - 50px);
        }

        #hero h1{
            font-size: 2.6rem;
            margin:0px;
            margin-bottom:24px;
            text-align: center;
            padding: 0;
            line-height:3.2rem;
        }

        .hero--text {
            align-self: auto;
            padding:32px 16px;
            
        }

    }

    @media only screen and (max-width: 800px) { 
        .hero--text {
            padding:48px 8px;
            
        }
        #hero h1{
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
    }

    @media only screen and (max-height: 600px) { 
        #hero {
            row-gap: 32px;
            padding-top: 50px;
            height:100vh;
        }

        #hero h1{
            font-size: 2rem;
            margin:0px;
            margin-bottom: 12px;
            text-align: center;
            padding: 0;
        }

        .hero--text {
            padding:16px 8px;
        }

        .hero--text p {
            font-size: 16px;
            margin-bottom: 16px;
        }
    }

    
</style>